.contacts-header {
  @extend %list;
  display: flex;

  @include limitedWidth($tablet - 1px) {
    flex-direction: column-reverse;
    margin-bottom: 64px;
  }

  @include breakpoint($tablet) {
    flex-direction: column;
  }
}

.contacts-header__item {
  @include breakpoint($tablet) {
    display: flex;
  }

  &:not(:last-child) {
    @include limitedWidth($tablet - 1px) {
      margin-top: 32px;
    }

    @include breakpoint($tablet) {
      margin-bottom: 10px;
    }
  }
}

.contacts-header__link {
  display: block;
  color: inherit;

  font-weight: 500;
  letter-spacing: 0.02em;
  text-decoration: none;

  @include limitedWidth($tablet - 1px) {
    &--mail {
      font-size: 24px;
      line-height: 1.17;
    }

    &--tel {
      color: $accent-color;

      font-size: 34px;
      line-height: 1.18;
    }
  }

  @include breakpoint($tablet) {
    @include centeredFlex(inline-flex);

    font-size: 12px;
    line-height: 1.17;

    transition: color 250ms $timing-function;

    &:hover,
    &:focus {
      color: $accent-color;
    }
  }
}

.contacts-header__icon {
  fill: currentColor;
  display: none;

  &--tablet {
    @include breakpoint($tablet) {
      display: block;
      margin-right: 8px;
    }
  }
}
