.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;

  @include breakpoint($mobile) {
    width: $mobile;
  }

  @include breakpoint($tablet) {
    width: $tablet;
  }

  @include breakpoint($desktop) {
    width: $desktop;
  }
}
