.menu-networks {
  @extend %list;
  display: flex;
  flex-wrap: wrap;
}

.menu-networks__item {
  &:not(:last-child) {
    padding-right: 10px;
    margin-right: 10px;
    border-right: 1px solid $modal-input-border-color;
  }
}

.menu-networks__link {
  display: block;
  color: $accent-color;

  font-size: 18px;
  font-weight: 500;
  line-height: 1.22;
  letter-spacing: 0.02em;
  text-decoration: none;
}
