.page-footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: $footer-bg-color;

  @include limitedWidth($desktop - 1px) {
    text-align: center;
  }
}

.page-footer__logo {
  display: block;
  color: $primary-white-color;
}

.page-footer__inner {
  @include breakpoint($tablet) {
    @include centeredFlex($cross-axis: baseline);
    flex-wrap: wrap;
  }
}

.page-footer__address {
  @include cuttedWidth($tablet, $desktop - 1px) {
    flex-basis: 50%;
  }
}

.page-footer__social {
  @include limitedWidth($tablet - 1px) {
    margin-top: 60px;
  }

  @include cuttedWidth($tablet, $desktop - 1px) {
    flex-basis: 50%;
  }

  @include breakpoint($desktop) {
    margin-left: 85px;
  }
}

.page-footer__text {
  display: block;
  margin-bottom: 20px;
  color: $primary-white-color;

  line-height: 1.14;
  text-transform: uppercase;
}

.page-footer__form {
  @include limitedWidth($desktop - 1px) {
    margin-top: 60px;
  }

  @include cuttedWidth($tablet, $desktop - 1px) {
    flex-basis: 450px;
    margin-left: auto;
    margin-right: auto;
  }

  @include breakpoint($tablet) {
    margin-left: auto;
  }
}
