.works-list {
  @extend %list;

  @include breakpoint($tablet) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

.works-list__card {
  @include limitedWidth($tablet - 1px) {
    margin-bottom: 30px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  @include breakpoint($tablet) {
    flex-basis: calc((100% - 2 * 30px) / 2);
    margin: 15px;
  }

  @include breakpoint($desktop) {
    flex-basis: calc((100% - 3 * 30px) / 3);
  }
}

// .works-list__card {
//   // width: 370px;
//   width: calc((100% - 60px) / 3);
//   // margin-right: 30px;
//   // margin-bottom: 30px;

//   // &:nth-child(3n) {
//   //   margin-right: 0;
//   // }

//   // &:nth-last-child(-n + 3) {
//   //   margin-bottom: 0;
//   // }

//   // Альтернатива
//   &:not(:nth-child(3n)) {
//     margin-right: 30px;
//   }

//   &:not(:nth-last-child(-n + 3)) {
//     margin-bottom: 30px;
//   }
// }

.works-list__link {
  display: block;

  color: inherit;
  text-decoration: none;

  transition: box-shadow 250ms $timing-function;

  @include breakpoint($tablet) {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  &:hover,
  &:focus {
    box-shadow: $work-card-shadow;
  }
}

.works-list__thumb {
  position: relative;
  overflow: hidden;
}

.works-list__overlay {
  position: absolute;
  top: 0;
  left: 0;

  @include centeredFlex();
  width: 100%;
  height: 100%;
  padding-left: 24px;
  padding-right: 24px;
  background-color: $works-overlay-color;

  transform: translateY(100%);
  opacity: 0;
  // добавил прозрачность, чтобы решить проблему выпадения полоски оверлея при
  // изменении ширины вьюпорта
  transition: transform 250ms $timing-function;

  .works-list__link:hover &,
  .works-list__link:focus & {
    transform: translateY(0);
    opacity: 1;
  }

  @include limitedWidth($mobile - 1px) {
    padding-left: 5vmin;
    padding-right: 5vmin;
  }
}

.works-list__description {
  margin-top: 0;
  margin-bottom: 0;
  color: $primary-white-color;

  font-size: 18px;
  line-height: 1.56;

  @media screen and (max-width: 479px) {
    font-size: 3.7vmin;
  }
}

.works-list__content {
  padding: 20px 24px;
  border: 1px solid $border-color;
  border-top: none;

  @include breakpoint($tablet) {
    flex-grow: 1;
  }
}

.works-list__title {
  margin-top: 0;
  margin-bottom: 4px;

  color: $title-text-color;

  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.works-list__type {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  line-height: 1.88;
}
