$main-font: 'Roboto', sans-serif;
$logo-font: 'Raleway', sans-serif;
$primary-text-color: #757575;
$title-text-color: #212121;
$accent-color: #2196f3;
$button-hover-color: #188ce8;
$primary-white-color: #ffffff;
$secondary-bg-color: #f5f4fa;
$logo-black-color: #000000;
$header-border-color: #ececec;
$border-color: #eeeeee;
$hero-bg-color: #c4c4c4;
$hero-gradient-color: rgba(47, 48, 58, 0.4);
$gallery-overlay-color: rgba(47, 48, 58, 0.8);
$icon-link-color: #afb1b8;
$footer-bg-color: #2f303a;
$footer-contact-color: rgba(255, 255, 255, 0.6);
$footer-link-bg-color: rgba(255, 255, 255, 0.1);
$footer-input-border-color: rgba(255, 255, 255, 0.3);
$backdrop-bg-color: rgba(0, 0, 0, 0.2);
$modal-input-border-color: rgba(33, 33, 33, 0.2);
$modal-placeholder-color: rgba(117, 117, 117, 0.5);
$close-border-color: rgba(0, 0, 0, 0.1);
$works-overlay-color: rgba(33, 150, 243, 0.9);
$primary-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
$secondary-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12),
  0 1px 1px rgba(0, 0, 0, 0.14), 0 2px 1px rgba(0, 0, 0, 0.2);
$filter-button-shadow: 0 3px 1px rgba(0, 0, 0, 0.1),
  0 1px 2px rgba(0, 0, 0, 0.08), 0 2px 2px rgba(0, 0, 0, 0.12);
$work-card-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 4px 4px rgba(0, 0, 0, 0.06),
  1px 4px 6px rgba(0, 0, 0, 0.16);
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
